/*** HOME PAGE ***/

.home-page {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

.home-page .home-items {
    height: 100vh;
    animation-delay: 0.4s;
    animation: animate 5s linear infinite;
    background: linear-gradient(to bottom, var(--blackShadow), var(--gray));
}

@keyframes animate {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
}

.home-page .logo {
    display: flex;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.home-page .container img {
    width: 6rem;
}

.home-page .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home-page .container p {
    width: 70%;
    margin-top: 10px;
    font-size: 1.2rem;
    color: var(--grayColor);
}

.home-page .container i {
    font-size: 2rem;
}


/*** ABOUT US ***/

.about-us-container {
    display: grid;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
    -webkit-column-gap: 25px;
    grid-template-columns: auto auto;
}

.about-us-first-bloc h3 {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #dde1e7;
}

.about-us i {
    font-size: 1.5rem;
    color: #dde1e7;
}

.bloc-items {
    height: fit-content;
    padding: 40px 40px;
    transition: 400ms;
    box-shadow: 0px 1px 10px #dde1e7;
}

.bloc-items:hover {
    transform: scale(1.02);
}

.bloc-items div {
    display: flex;
    justify-content: space-between;
}

.bloc-items div span {
    color: #000;
    padding: 15px 15px;
    border-radius: 50%;
    width: fit-content;
    background: #dde1e7;
    box-shadow: inset -7px -7px 8px #eff3f9, inset 7px 7px 8px #cbcfd5;
}

.about-us-second-bloc:hover .bloc-items:not(:hover) {
    filter: blur(4px);
    transform: scale(1.02, 1.09);
}

.about-us-second-bloc {
    display: grid;
    gap: 25px;
    -webkit-column-gap: 25px;
    grid-template-columns: auto auto;
}


/*** OBJECTIF ***/

.goal {
    margin-top: 70px;
}

.goal-items {
    width: 70%;
    display: flex;
    margin: auto;
    transition: 0.8s;
    padding: 30px 30px;
    transform: rotate(15deg) skew(-10deg, -5deg);
    box-shadow: #00000080 5px 3px, #00000066 10px 6px, #0000004d 15px 9px, #0000004c 20px 12px;
}

.goal-items:hover {
    box-shadow: #00000080 5px 3px, #00000066 10px 6px, #0000004d 15px 9px, #0000004c 20px 12px, #0000004b 25px 15px;
}


/*** WRAPPER ***/

.wrapper {
    width: 100%;
    margin-top: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/Produits/shirt.png');
    clip-path: polygon(100% 70%, 50% 100%, 0 70%, 0 1%, 50% 0, 100% 0);
}

.wrapper-container {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    -webkit-column-gap: 10px;
    background: linear-gradient(to right, #282928f5 0%, #b1b0b0f3 100%);
}

.wrapper-container .counter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 70px 0px;
    -webkit-column-gap: 10px;
}

.wrapper-container .counter p,
span {
    color: #fff;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.wrapper-container .counter span {
    font-size: 1.5rem;
}


/*** CHOOSE US ***/

.choose-us-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    -webkit-column-gap: 10px;
    justify-content: center;
}

.choose-us-title h5 {
    width: 50px;
    height: 2px;
    background-color: #cbcfd5;
}

.choose-us-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.choose-us-items {
    margin-top: 15px;
}

.choose-us-containt {
    display: flex;
    gap: 10px;
    padding-top: 25px;
    -webkit-column-gap: 10px;
}

.choose-us-items h5 {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.choose-us-items .top-lines {
    display: flex;
    gap: 5px;
    align-items: center;
    -webkit-column-gap: 5px;
}

.choose-us-items .top-lines h1 {
    width: 40px;
    border-bottom: 2px solid #000;
}

.choose-us-items .top-lines h2 {
    width: 100%;
    margin-top: 0;
    border-bottom: 2px solid #cbcfd5;
}

.choose-us-items i {
    font-size: 2.5rem;
    color: #000;
}

.choose-us-items .choose-us-containt div strong {
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
}

.choose-us-items .choose-us-containt div p {
    margin-top: 10px;
}


/*** NOS PRODUITS ***/

.products {
    margin-top: 70px;
}

.products h3 {
    text-align: center;
}

.product-item {
    gap: 10px;
    -webkit-column-gap: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.prod-details {
    padding: 20px;
    border: 1px solid #dde1e7;
    width: 270px;
}
.prod-details p img{
    width: 230px;
    height: 230px;
    object-fit: cover;
}
.prod-details img {
    margin-bottom: 10px;
    background-color: #dde1e7;
    transition: transform 0.5s ease;
}

.prod-details:hover img {
    transform: scale(1.1);
}
.stars{
    display: flex;
    align-items: center;
}
.stars i {
    color: #aeae1a8b;
}
.stars .fa-star{
    font-size: 14px;
}
.see-details {
    width: fit-content;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.8s ease-in;
    background-color: #000000b5;
}

.see-details:hover {
    background-color: #000000d0;
}

.see-details a {
    color: #fff;
}


/*** NEWSLETTER ***/

.newsletter {
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(to right, #000000b5 0%, #dde1e7 100%), url('../images/objectif/news-letter.jpg') no-repeat;
    background-size: cover;
}

.newsletter-items {
    display: flex;
    gap: 10px;
    align-items: center;
    -webkit-column-gap: 10px;
    justify-content: space-between;
}

.newsletter-items h5 {
    font-size: 1.2rem;
    color: var(--whiteColor);
}

.newsletter-items p {
    margin-top: 10px;
    color: #fff;
}

.newsletter-items form {
    display: flex;
    background-color: #fff;
}

.newsletter-items form .news-input {
    width: 100%;
    border: none;
    margin-top: 0px;
}

.newsletter-items form .send {
    border: none;
    outline: none;
    padding: 10px 15px;
    color: var(--whiteColor);
    transition: 0.8s ease-in;
    background-color: #000000b5;
    font-family: "Sulphur Point", sans-serif;
}

.newsletter-items form .send:hover {
    background-color: #000000d0;
}

button{
    cursor: pointer;
}
/*** COLLECTION ***/

.collection-container {

    gap: 10px;
    -webkit-column-gap: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.collection-item {
    padding: 20px 20px;
    transition: 0.4s ease-in;
    border: 1px solid #dde1e7;
}

.collection-item:hover {
    transform: translateY(10px);
}

.collection-item div img {
    width: 230px;
    height: 230px;
    background-color: #dde1e7;
    object-fit: cover;
}


.collection-item .stars {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.collection-item .collection-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}

.collection-item .collection-text strong {
    color: #779fa8fd;
}


/*** TESTIMONIAL ***/

.testimonial h3 {
    text-align: center;
}

.testimonial h4 {
    margin: auto;
}

.testimonial-content {
    width: 100%;
    margin-top: 30px;
}

.testimonial-item {
    text-align: center;
}

.testimonial-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-item div {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.testimonial-item div h5 {
    color: #000;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}

.testimonial-item div span {
    color: #000;
    font-family: "Sulphur Point", sans-serif;
}

.testimonial-item div p {
    margin-top: 15px;
    font-style: italic;
}

.testimonial-item i {
    font-size: 1.5rem;
    font-weight: 600;
    color: #dde1e7;
}

.test-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.test-btn .circle {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #dde1e7;
}

.test-btn .circle.active {
    background-color: #000;
    border: 1px solid #000;
}


/*** CONTACT ***/

.contact-container {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 20px;
    -webkit-column-gap: 40px;
}

.bloc-contact .items {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    -webkit-column-gap: 10px;
}

.bloc-contact .items i {
    padding: 15px 15px;
    border-radius: 50%;
    color: var(--blueColor);
    background: #dde1e7;
    box-shadow: inset 7px 7px 8px #cbcfd5, inset -7px -7px 8px #eff3f9;
}

.bloc-contact .items i:hover {
    box-shadow: 7px 7px 8px #cbcfd5, -7px -7px 8px #eff3f9;
}

.contact-form {
    flex-grow: 1;
}

form input,
textarea {
    width: 100%;
    border: none;
    outline: none;
    background: unset;
    padding: 15px 20px;
    margin-top: 10px;
    border: 1px solid var(--grayColor);
}

.form-input {
    display: flex;
    gap: 10px;
    -webkit-column-gap: 10px;
}

form .submit {
    display: flex;
    justify-content: center;
}

form .submit button {
    border: none;
    outline: none;
    margin-top: 10px;
    background: unset;
    padding: 15px 30px;
    font-weight: 500;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.8s ease-in;
    color: var(--whiteColor);
    background-color: #000000b5;
    font-family: "Sulphur Point", sans-serif;
}

form .submit button:hover {
    background-color: #000000d0;
}


/* MEDIA QUERY */

@media screen and (max-width: 1100px) {
    .about-us-container {
        display: grid;
        grid-template-columns: auto;
    }
    .goal-items {
        width: 90%;
    }
}

@media screen and (max-width: 1030px) {
    .blog-container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 930px) {
    .home-page .container p {
        width: 100%;
    }
    .about-us-first-bloc {
        display: flex;
        justify-content: center;
    }
    .about-us-second-bloc {
        display: grid;
        gap: 15px;
        -webkit-column-gap: 15px;
        grid-template-columns: auto;
    }
    .about-us-first-bloc h3 {
        display: flex;
        justify-content: center;
    }
    .product-item,
    .collection-container {
        display: grid;
        grid-template-columns: auto auto;
    }
    .testimonial-item div {
        width: 100%;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    .choose-us-container {
        display: grid;
        grid-template-columns: auto;
    }
    .newsletter-items {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 655px) {
    .goal-items {
        width: 100%;
        transform: rotate(0deg) skew(0deg, 0deg);
    }
    .wrapper {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .wrapper-container {
        display: flex;
        height: 60vh;
        flex-direction: column;
        justify-content: center;
    }
    .wrapper-container .counter {
        height: fit-content;
        padding: 0px;
        margin-top: 40px;
    }
    .wrapper-container .counter span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 1.2rem;
    }
    .home-page .container p {
        width: 100%;
        font-size: 1rem;
    }

    .bloc-items {
        padding: 30px 30px;
    }
    .product-item,
    .collection-container {
        display: grid;
        grid-template-columns: auto;
    }
    .blog-container {
        display: grid;
        grid-template-columns: auto;
    }
    .form-input {
        display: flex;
        flex-direction: column;
        gap: 0;
        -webkit-column-gap: 0;
    }
}

@media screen and (max-width: 405px) {
    h3 {
        font-size: 1rem;
    }
    .choose-us-title h5 {
        width: 20px;
    }
}